<!--
 Copyright © VNG Realisatie 2023
 Licensed under the EUPL
-->

<div class="participants-search-results" role="grid" hx-boost="true">
    {{ if eq (len .SearchResults) 0 }}
        <p class="participants-search-results__no-results">
            Geen deelnemers gevonden
        </p>
    {{ else }}
        <p class="participants-search-results__summary">
            {{ len .SearchResults }} deelnemers
        </p>

        <table class="participants-search-results__results-desktop">
            <thead>
            <tr>
                <th>Organisatie</th>
            </tr>
            </thead>

            <tbody>
            {{ range .SearchResults }}
            <tr>
                <td><div>{{ .PeerName }}<br> <small>{{ .PeerID }}</small></div></td>
            </tr>
            {{ end }}

            </tbody>
        </table>

        <div class="participants-search-results__results-mobile">
            {{ range .SearchResults }}
            <div class="result">
                <div class="content">
                    {{ .PeerName }}<br> <small>{{ .PeerID }}</small>
                </div>
            </div>
            {{ end }}
        </div>
    {{ end }}
</div>
