<!doctype html>
<!--
 Copyright © VNG Realisatie 2023
 Licensed under the EUPL
-->

<html lang="{{ .I18n.Locale }}">
    <head>
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

        <link
            rel="stylesheet"
            type="text/css"
            href="{{ asset "styling/main.scss" }}"
        />

        <title>FSC Controller</title>
    </head>
    <body>
        <div id="root">
            <div class="app">
                <div class="authenticated-page-template">
                    <a
                        href="#"
                        class="authenticated-page-template__skip-to-content"
                        >{{ i18n "Go to content" }}</a
                    >

                    <nav
                        class="authenticated-page-template__primary-navigation"
                        aria-labelledby="nlx-home"
                    >
                        <section>
                            <a
                                href="{{ .PathDirectoryPage }}"
                                class="authenticated-page-template__primary-navigation__home-link"
                            >
                                {{ svg "nlx-controller-logo" "" }}
                            </a>

                            <a
                                href="{{ .PathDirectoryPage }}"
                                class="authenticated-page-template__primary-navigation__menu-item {{ if eq .PrimaryNavigationActivePath .PathDirectoryPage }}
                                    active
                                {{ end }}"
                                aria-label="{{ i18n "Directory page" }}"
                            >
                                {{ svg "icon-directory" "icon icon--xlarge" }}
                                {{ i18n "Directory" }}
                            </a>

                            <a
                                href="{{ .PathServicesPage }}"
                                class="authenticated-page-template__primary-navigation__menu-item {{ if eq .PrimaryNavigationActivePath .PathServicesPage }}
                                    active
                                {{ end }}"
                                aria-label="{{ i18n "Services page" }}"
                            >
                                {{ svg "icon-services" "icon icon--xlarge" }}
                                {{ i18n "Services" }}
                            </a>

                            <a
                                href="{{ .PathContractsPage }}"
                                class="authenticated-page-template__primary-navigation__menu-item {{ if eq .PrimaryNavigationActivePath .PathContractsPage }}
                                    active
                                {{ end }}"
                                aria-label="{{ i18n "Contracts page" }}"
                            >
                                {{ svg "icon-contracts" "icon icon--xlarge" }}
                                {{ i18n "Contracts" }}
                            </a>

                            <a
                                href="{{ .PathTransactionLogsPage }}"
                                class="authenticated-page-template__primary-navigation__menu-item {{ if eq .PrimaryNavigationActivePath .PathTransactionLogsPage }}
                                    active
                                {{ end }}"
                                aria-label="{{ i18n "Transaction logs page" }}"
                            >
                                {{ svg "icon-transaction-logs" "icon icon--xlarge" }}
                                {{ i18n "Transaction logs" }}
                            </a>
                        </section>
                    </nav>

                    <div class="authenticated-page-template__main-wrapper">
                        <main class="authenticated-page-template__main">
                            {{ block "authenticated-page-header" . }}
                                <div
                                    class="authenticated-page-template__header"
                                >
                                    <h1
                                        class="authenticated-page-template__header__title"
                                    >
                                        {{ .BaseAuthenticatedPage.Title }}
                                    </h1>

                                    <div
                                        class="authenticated-page-template__header__items"
                                    >
                                        <span
                                            class="authenticated-page-template__header__organization-info"
                                        >
                                            {{ .BaseAuthenticatedPage.Peer.Name }}
                                            <br />
                                            <small
                                                >{{ i18n "Peer ID" }}
                                                {{ .BaseAuthenticatedPage.Peer.ID }}</small
                                            >
                                        </span>

                                        <div
                                            class="authenticated-page-template__header__user-navigation"
                                        >
                                            <details>
                                                <summary>
                                                    <figure
                                                        class="authenticated-page-template__header__user-navigation__avatar"
                                                    >
                                                        <img
                                                            src="{{ asset "img/dummy-avatar.svg" }}"
                                                            alt="{{ i18n "Avatar" }}"
                                                        />
                                                    </figure>

                                                    <span
                                                        class="authenticated-page-template__header__user-navigation__username"
                                                    >
                                                        {{ .BaseAuthenticatedPage.Username }}
                                                    </span>
                                                    {{ svg "icon-chevron-down" "authenticated-page-template__header__user-navigation__toggle-icon" }}
                                                </summary>
                                                <p
                                                    class="authenticated-page-template__header__user-navigation__menu"
                                                >
                                                    <a
                                                        href="{{ .BaseAuthenticatedPage.LogoutURL }}"
                                                    >
                                                        {{ svg "icon-shut-down-line" "icon" }}
                                                        {{ i18n "Log out" }}
                                                    </a>
                                                </p>
                                            </details>
                                        </div>
                                    </div>
                                </div>

                                <p
                                    class="authenticated-page-template__description"
                                >
                                    {{ if eq .BaseAuthenticatedPage.Description "" }}
                                        &nbsp;
                                    {{ else }}
                                        {{ .BaseAuthenticatedPage.Description }}
                                    {{ end }}
                                </p>
                            {{ end }}

                            {{ block "content" . }}
                                Default content
                            {{ end }}
                        </main>
                    </div>
                </div>
            </div>
        </div>

        <script>
            window.config = {
                locale: "{{ .Locale }}",
            };
        </script>
        <script src="{{ asset "js/index.js" }}"></script>
    </body>
</html>
