<!--
 Copyright © VNG Realisatie 2024
 Licensed under the EUPL
-->

{{ define "authenticated-page-header" }}
    <p>
        <a href="/contract/{{ .ContentHash }}" class="button--link">
            {{ svg "icon-chevron-left" "icon--inline" }}
            {{ i18n "Back" }}
        </a>
    </p>

    <h1 class="contract-distribution-detail-page__title">
        {{ i18n "Error sending to" }}
        {{ .PeerName }}
    </h1>
{{ end }}

{{ define "content" }}
    {{ block "confirm-retry-submit-contract-modal" . }}{{ end }}
    {{ block "confirm-retry-submit-acc-sig-modal" . }}{{ end }}
    {{ block "confirm-retry-submit-rej-sig-modal" . }}{{ end }}
    {{ block "confirm-retry-submit-rev-sig-modal" . }}{{ end }}


    <div class="contract-distribution-detail-page">
        {{ range $action, $contractDistribution := .ContractDistribution }}
            <div class="contract-distribution-detail-page__action">
                <h2>{{ $action }}</h2>

                <section class="contract-distribution-detail-page__section">
                    <p
                        class="contract-distribution-detail-page__section-header"
                    >
                        {{ svg "icon-hashtag" "icon--inline" }}
                        {{ i18n "Retries" }}
                    </p>

                    <p class="contract-detail-page__section-content">
                        {{ $contractDistribution.Retries }}
                    </p>

                    <p
                        class="contract-distribution-detail-page__section-header"
                    >
                        {{ svg "icon-time-line" "icon--inline" }}
                        {{ i18n "Last retry" }}
                    </p>

                    <p class="contract-detail-page__section-content">
                        <time datetime="{{ $contractDistribution.LastRetry }}">
                            {{ $contractDistribution.LastRetry }}
                        </time>
                    </p>
                </section>

                <h2>{{ i18n "Error message" }}</h2>

                <p class="alert--error">
                    {{ $contractDistribution.ErrorMessage }}
                </p>

                <p>
                    {{ if eq $action "Submit Contract" }}
                        <a
                            href="#{{ $action }}"
                            onclick="window.ConfirmRetrySubmitContractModal.showModal(); return false;"
                            class="button--primary"
                        >
                            {{ i18n "Retry" }}
                        </a>
                    {{ else if eq $action "Submit Accept Signature" }}
                        <a
                            href="#{{ $action }}"
                            onclick="window.ConfirmRetrySubmitAccSigModal.showModal(); return false;"
                            class="button--primary"
                        >
                            {{ i18n "Retry" }}
                        </a>
                    {{ else if eq $action "Submit Reject Signature" }}
                        <a
                            href="#{{ $action }}"
                            onclick="window.ConfirmRetrySubmitRejSigModal.showModal(); return false;"
                            class="button--primary"
                        >
                            {{ i18n "Retry" }}
                        </a>
                    {{ else if eq $action "Submit Revoke Signature" }}
                        <a
                            href="#{{ $action }}"
                            onclick="window.ConfirmRetrySubmitRevSigModal.showModal(); return false;"
                            class="button--primary"
                        >
                            {{ i18n "Retry" }}
                        </a>
                    {{ end }}
                </p>
            </div>
        {{ end }}
    </div>
{{ end }}

{{ define "confirm-retry-submit-contract-modal" }}
    <dialog id="ConfirmRetrySubmitContractModal" class="modal">
        <div class="modal__content">
            <header class="modal__header">
                <h1 class="modal__header__title">
                    {{ i18n "Resend" }}
                </h1>
                <form>
                    <button
                        type="submit"
                        value="cancel"
                        formmethod="dialog"
                        class="modal__header__close"
                    >
                        {{ svg "icon-close" "modal__header__close-icon" }}
                    </button>
                </form>
            </header>
            <div class="modal__body">
                <p>
                    {{ i18n "Are you sure you want to retry sending this Contract?" }}
                </p>

                <form
                    class="modal__footer"
                    action="/contract/{{ .ContentHash }}/retries/{{ .PeerID }}/DISTRIBUTION_ACTION_SUBMIT_CONTRACT"
                    method="post"
                >
                    <button
                        type="submit"
                        class="button--secondary"
                        formmethod="dialog"
                        autofocus
                    >
                        {{ i18n "Cancel" }}
                    </button>

                    <button type="submit" class="button--primary">
                        {{ i18n "Send" }}
                    </button>
                </form>
            </div>
        </div>
    </dialog>
{{ end }}

{{ define "confirm-retry-submit-acc-sig-modal" }}
    <dialog id="ConfirmRetrySubmitAccSigModal" class="modal">
        <div class="modal__content">
            <header class="modal__header">
                <h1 class="modal__header__title">
                    {{ i18n "Resend Accept Signature" }}
                </h1>
                <form>
                    <button
                        type="submit"
                        value="cancel"
                        formmethod="dialog"
                        class="modal__header__close"
                    >
                        {{ svg "icon-close" "modal__header__close-icon" }}
                    </button>
                </form>
            </header>
            <div class="modal__body">
                <p>
                    {{ i18n "Are you sure you want to retry sending the Accept Signature?" }}
                </p>

                <form
                    class="modal__footer"
                    action="/contract/{{ .ContentHash }}/retries/{{ .PeerID }}/DISTRIBUTION_ACTION_SUBMIT_ACCEPT_SIGNATURE"
                    method="post"
                >
                    <button
                        type="submit"
                        class="button--secondary"
                        formmethod="dialog"
                        autofocus
                    >
                        {{ i18n "Cancel" }}
                    </button>

                    <button type="submit" class="button--primary">
                        {{ i18n "Send" }}
                    </button>
                </form>
            </div>
        </div>
    </dialog>
{{ end }}

{{ define "confirm-retry-submit-rej-sig-modal" }}
    <dialog id="ConfirmRetrySubmitRejSigModal" class="modal">
        <div class="modal__content">
            <header class="modal__header">
                <h1 class="modal__header__title">
                    {{ i18n "Resend Reject Signature" }}
                </h1>
                <form>
                    <button
                        type="submit"
                        value="cancel"
                        formmethod="dialog"
                        class="modal__header__close"
                    >
                        {{ svg "icon-close" "modal__header__close-icon" }}
                    </button>
                </form>
            </header>
            <div class="modal__body">
                <p>
                    {{ i18n "Are you sure you want to retry sending the Reject Signature?" }}
                </p>

                <form
                    class="modal__footer"
                    action="/contract/{{ .ContentHash }}/retries/{{ .PeerID }}/DISTRIBUTION_ACTION_SUBMIT_REJECT_SIGNATURE"
                    method="post"
                >
                    <button
                        type="submit"
                        class="button--secondary"
                        formmethod="dialog"
                        autofocus
                    >
                        {{ i18n "Cancel" }}
                    </button>

                    <button type="submit" class="button--primary">
                        {{ i18n "Send" }}
                    </button>
                </form>
            </div>
        </div>
    </dialog>
{{ end }}

{{ define "confirm-retry-submit-rev-sig-modal" }}
    <dialog id="ConfirmRetrySubmitRevSigModal" class="modal">
        <div class="modal__content">
            <header class="modal__header">
                <h1 class="modal__header__title">
                    {{ i18n "Resend Revoke Signature" }}
                </h1>
                <form>
                    <button
                        type="submit"
                        value="cancel"
                        formmethod="dialog"
                        class="modal__header__close"
                    >
                        {{ svg "icon-close" "modal__header__close-icon" }}
                    </button>
                </form>
            </header>
            <div class="modal__body">
                <p>
                    {{ i18n "Are you sure you want to retry sending the Revoke Signature?" }}
                </p>

                <form
                    class="modal__footer"
                    action="/contract/{{ .ContentHash }}/retries/{{ .PeerID }}/DISTRIBUTION_ACTION_SUBMIT_REVOKE_SIGNATURE"
                    method="post"
                >
                    <button
                        type="submit"
                        class="button--secondary"
                        formmethod="dialog"
                        autofocus
                    >
                        {{ i18n "Cancel" }}
                    </button>

                    <button type="submit" class="button--primary">
                        {{ i18n "Send" }}
                    </button>
                </form>
            </div>
        </div>
    </dialog>
{{ end }}
