<!--
 Copyright © VNG Realisatie 2024
 Licensed under the EUPL
-->

{{ define "authenticated-page-header" }}
    <p>
        <a href="/directory" class="button--link">
            {{ svg "icon-chevron-left" "icon--inline" }}
            {{ i18n "Back" }}
        </a>
    </p>

    <h1 class="directory-service-detail-page__title">{{ .Service.Name }}</h1>
{{ end }}

{{ define "content" }}
    <div class="directory-service-detail-page">
        <section class="directory-service-detail-page__section">
            <p class="directory-service-detail-page__section-header">
                {{ svg "icon-organization" "icon--inline" }}
                {{ i18n "Peer" }}
            </p>

            <p class="contract-detail-page__section-content">
                {{ .Service.PeerName }} ({{ .Service.PeerID }})
            </p>

            {{ if .Service.IsDelegatedPublication }}
                <p class="directory-service-detail-page__section-header">
                    {{ svg "icon-organization" "icon--inline" }}
                    {{ i18n "Provided by" }}
                </p>

                <p class="contract-detail-page__section-content">
                    {{ .Service.ProviderName }} ({{ .Service.ProviderID }})
                </p>
            {{ end }}
        </section>

        <div class="collapsible-container">
            <details class="collapsible">
                <summary class="collapsible__header">
                    <span>
                        {{ svg "icon-key-line" "icon--inline icon-prefix" }}
                        {{ i18n "Access" }}
                    </span>
                    {{ svg "icon-chevron-down" "icon--inline icon-collapsible" }}
                </summary>

                <div class="collapsible__content">
                    {{ if eq (len .OutwayCertificates) 0 }}
                        <p>
                            <small
                                >{{ i18n "There are no Outways registered to your Controller." }}</small
                            >
                        </p>
                    {{ end }}

                    {{ range .OutwayCertificates }}
                        <p>
                            {{ join .OutwayNames }}
                        </p>

                        {{ if eq (len .AccessContracts) 0 }}
                            <p>{{ i18n "You have no access" }}</p>
                        {{ else }}
                            {{ range .AccessContracts }}
                                <div
                                    class="directory-service-detail-page__contract"
                                    title="{{ .Status }}"
                                >
                                    {{ if .IsActive }}
                                        {{ svg "icon-state-active" "icon--inline directory-service-detail__contract-status" }}
                                    {{ else }}
                                        {{ svg "icon-state-inactive" "icon--inline directory-service-detail__contract-status" }}
                                    {{ end }}


                                    <p
                                        class="directory-service-detail-page__contract-details"
                                        hx-boost
                                    >
                                        <a href="/contract/{{ .Hash }}"
                                            >{{ .Title }}</a
                                        ><br />
                                        {{ i18n "From" }}
                                        <time datetime="{{ .ValidFrom }}">
                                            {{ .ValidFrom }}
                                        </time>
                                        {{ i18n "until" }}
                                        <time datetime="{{ .ValidUntil }}">
                                            {{ .ValidUntil }} </time
                                        ><br />
                                        <small
                                            >{{ i18n "Created at" }}
                                            <time datetime="{{ .CreatedAt }}">
                                                {{ .CreatedAt }}
                                            </time>
                                        </small>
                                    </p>
                                </div>
                            {{ end }}
                        {{ end }}
                    {{ end }}
                </div>
            </details>
        </div>
    </div>
{{ end }}
