<!--
 Copyright © VNG Realisatie 2023
 Licensed under the EUPL
-->

{{ define "content" }}

    <div class="directory-page">
        <div class="directory-page__actions-bar">
            <div class="directory-page__actions-bar__service-count">
                <span class="directory-page__actions-bar__service-count__amount"
                    >{{ .AmountOfServices }}</span
                >
                <small>{{ i18n "Directory services" }}</small>
            </div>
        </div>

        <table>
            <thead>
                <tr>
                    <th class="directory-page__peer-column">
                        {{ i18n "Peer" }}
                    </th>
                    <th>{{ i18n "Name" }}</th>
                    <th>{{ i18n "Provided by" }}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{ range .Services }}
                    {{ if .IsDelegatedPublication }}
                        <tr
                            class="tr--link"
                            hx-get="/directory/{{ .ProviderID }}/{{ .Name }}/delegator/{{ .PeerID }}"
                            hx-push-url="true"
                            hx-swap="innerHTML"
                            hx-target="body"
                        >
                            <td>
                                {{ .PeerName }}<br />
                                <small>Peer ID {{ .PeerID }}</small>
                            </td>
                            <td>{{ .Name }}</td>
                            <td>
                                {{ .ProviderName }}<br />
                                <small>Peer ID {{ .ProviderID }}</small>
                            </td>
                            <td class="td--link">
                                <a
                                    href="/directory/{{ .ProviderID }}/{{ .Name }}/delegator/{{ .PeerID }}"
                                >
                                    {{ svg "icon-chevron-right" "icon" }}
                                </a>
                            </td>
                        </tr>
                    {{ else }}
                        <tr
                            class="tr--link"
                            hx-get="/directory/{{ .PeerID }}/{{ .Name }}"
                            hx-push-url="true"
                            hx-swap="innerHTML"
                            hx-target="body"
                        >
                            <td>
                                {{ .PeerName }}<br />
                                <small>Peer ID {{ .PeerID }}</small>
                            </td>
                            <td>{{ .Name }}</td>
                            <td></td>
                            <td class="td--link">
                                <a href="/directory/{{ .PeerID }}/{{ .Name }}">
                                    {{ svg "icon-chevron-right" "icon" }}
                                </a>
                            </td>
                        </tr>
                    {{ end }}
                {{ end }}
            </tbody>
        </table>
    </div>
{{ end }}
