<!--
 Copyright © VNG Realisatie 2024
 Licensed under the EUPL
-->

{{ define "authenticated-page-header" }}
    <p>
        <a href="/services/{{ .Form.Name }}" class="button--link"
            >{{ svg "icon-chevron-left" "icon--inline" }} {{ i18n "Back" }}</a
        >
    </p>
    <h1 class="publish-service-page__title">{{ i18n "Publish Service" }}</h1>
{{ end }}

{{ define "content" }}

    <div class="publish-service-page">
        {{ if ne (len .SuccessMessage) 0 }}
            <div class="alert--success">
                <p class="alert__title">{{ i18n "Success" }}</p>
                <p class="alert__content">{{ .SuccessMessage }}</p>
            </div>
        {{ end }}

        {{ if ne (len .ErrorMessage) 0 }}
            <div class="alert--error">
                <p class="alert__title">{{ i18n "Error" }}</p>
                <p class="alert__content">{{ .ErrorMessage }}</p>
            </div>
        {{ end }}


        <form
            action="/services/{{ .Form.Name }}/publish"
            method="post"
            autocomplete="off"
            class="publish-service-page__form"
        >
            <datalist id="peerIDs">
                {{ range $peerID, $peer := .DirectoryPeerIDs }}
                    <option value="{{ $peerID }}" label="{{ $peer }}"></option>
                {{ end }}
            </datalist>

            <fieldset class="publish-service-page__form-actions">
                <button type="submit" class="button--primary">
                    {{ i18n "Publish" }}
                </button>
            </fieldset>

            <fieldset>
                <label>
                    <span>{{ i18n "Name" }}</span>
                    <input
                        class="input--large"
                        type="text"
                        name="name"
                        value="{{ .Form.Name }}"
                        disabled
                    />
                </label>

                <label>
                    <span>{{ i18n "Directory Peer ID" }}</span>
                    <small
                        >{{ i18n "Peer ID of the Directory where you want to publish the Service." }}</small
                    >
                    <div class="datalist datalist--medium">
                        <input
                            list="peerIDs"
                            name="directoryPeerID"
                            value="{{ .Form.DirectoryPeerID }}"
                        />
                    </div>
                </label>

                <div class="publish-service-page__date-field-wrapper">
                    <label class="publish-service-page__date-field">
                        {{ i18n "Valid from" }}
                        <input
                            class="input--small"
                            type="date"
                            name="validFrom"
                            value="{{ .Form.ValidFrom }}"
                            placeholder="{{ i18n " yyyy-mm-dd" }}"
                        />
                    </label>

                    <label class="publish-service-page__date-field">
                        {{ i18n "Valid until" }}
                        <input
                            class="input--small"
                            type="date"
                            name="validUntil"
                            value="{{ .Form.ValidUntil }}"
                            placeholder="{{ i18n " yyyy-mm-dd" }}"
                        />
                    </label>
                </div>
            </fieldset>
        </form>
    </div>
{{ end }}
