<!--
 Copyright © VNG Realisatie 2024
 Licensed under the EUPL
-->

{{ define "authenticated-page-header" }}
    <p>
        <a href="/services" class="button--link">
            {{ svg "icon-chevron-left" "icon--inline" }}
            {{ i18n "Back" }}
        </a>
    </p>

    <h1 class="service-detail-page__title">{{ .Service.Name }}</h1>
{{ end }}

{{ define "content" }}
    <div class="service-detail-page">
        <section class="service-detail-page__actions">
            <a
                href="/services/{{ .Service.Name }}/publish"
                class="button--secondary"
            >
                {{ svg "icon-contracts" "icon--inline" }}
                {{ i18n "Publish" }}
            </a>

            <a
                href="/services/{{ .Service.Name }}/edit"
                class="button--secondary"
            >
                {{ svg "icon-pencil" "icon--inline" }}
                {{ i18n "Edit" }}
            </a>
        </section>

        <section class="service-detail-page__section">
            <p class="service-detail-page__section-header">
                {{ svg "icon-link" "icon--inline" }}
                {{ i18n "Endpoint URL" }}
            </p>

            <p class="contract-detail-page__section-content">
                {{ .Service.EndpointURL }}
            </p>

            <p class="service-detail-page__section-header">
                {{ svg "icon-inway" "icon--inline" }}
                {{ i18n "Inway address" }}
            </p>

            <p class="contract-detail-page__section-content">
                {{ .Service.InwayAddress }}
            </p>
        </section>

        <div class="collapsible-container">
            <details class="collapsible">
                <summary class="collapsible__header">
                    <span>
                        {{ svg "icon-eye-line" "icon--inline icon-prefix" }}
                        {{ i18n "Publication in Directory" }}
                        <span class="amount"
                            >{{ len .Service.PublicationContracts }}</span
                        >
                    </span>
                    {{ svg "icon-chevron-down" "icon--inline icon-collapsible" }}
                </summary>

                <div class="collapsible__content">
                    {{ if eq (len .Service.PublicationContracts) 0 }}
                        <p>
                            <small
                                >{{ i18n "There are no contracts with a (Delegated) Service Publication Grant present for this Service." }}</small
                            >
                        </p>
                    {{ end }}

                    {{ range .Service.PublicationContracts }}
                        <div
                            class="service-detail-page__contract"
                            title="{{ .Status }}"
                        >
                            {{ if .IsActive }}
                                {{ svg "icon-state-active" "icon--inline service-detail__contract-status" }}
                            {{ else }}
                                {{ svg "icon-state-inactive" "icon--inline service-detail__contract-status" }}
                            {{ end }}


                            <p
                                class="service-detail-page__contract-details"
                                hx-boost
                            >
                                <a href="/contract/{{ .Hash }}">{{ .Title }}</a
                                ><br />
                                {{ i18n "From" }}
                                <time datetime="{{ .ValidFrom }}">
                                    {{ .ValidFrom }}
                                </time>
                                {{ i18n "until" }}
                                <time datetime="{{ .ValidUntil }}">
                                    {{ .ValidUntil }} </time
                                ><br />
                                <small
                                    >{{ i18n "Created at" }}
                                    <time datetime="{{ .CreatedAt }}">
                                        {{ .CreatedAt }}
                                    </time>
                                </small>
                            </p>
                        </div>
                    {{ end }}
                </div>
            </details>

            <details class="collapsible">
                <summary class="collapsible__header">
                    <span>
                        {{ svg "icon-key-line" "icon--inline icon-prefix" }}
                        {{ i18n "Access" }}
                        <span class="amount"
                            >{{ len .Service.AccessContracts }}</span
                        >
                    </span>
                    {{ svg "icon-chevron-down" "icon--inline icon-collapsible" }}
                </summary>

                <div class="collapsible__content">
                    {{ if eq (len .Service.AccessContracts) 0 }}
                        <p>
                            <small
                                >{{ i18n "There are no contracts with a (Delegated) Service Connection Grant present for this Service." }}</small
                            >
                        </p>
                    {{ end }}

                    {{ range .Service.AccessContracts }}
                        <div
                            class="service-detail-page__contract"
                            title="{{ .Status }}"
                        >
                            {{ if .IsActive }}
                                {{ svg "icon-state-active" "icon--inline service-detail__contract-status" }}
                            {{ else }}
                                {{ svg "icon-state-inactive" "icon--inline service-detail__contract-status" }}
                            {{ end }}


                            <p
                                class="service-detail-page__contract-details"
                                hx-boost
                            >
                                <a href="/contract/{{ .Hash }}">{{ .Title }}</a
                                ><br />
                                {{ i18n "From" }}
                                <time datetime="{{ .ValidFrom }}">
                                    {{ .ValidFrom }}
                                </time>
                                {{ i18n "until" }}
                                <time datetime="{{ .ValidUntil }}">
                                    {{ .ValidUntil }} </time
                                ><br />
                                <small
                                    >{{ i18n "Created at" }}
                                    <time datetime="{{ .CreatedAt }}">
                                        {{ .CreatedAt }}
                                    </time>
                                </small>
                            </p>
                        </div>
                    {{ end }}
                </div>
            </details>
        </div>
    </div>
{{ end }}
