<!--
 Copyright © VNG Realisatie 2023
 Licensed under the EUPL
-->

{{ define "content" }}

    <div class="services-page">
        <div class="services-page__actions-bar">
            <div class="services-page__actions-bar__service-count">
                <span class="services-page__actions-bar__service-count__amount"
                    >{{ .AmountOfServices }}</span
                >
                <small>{{ i18n "Services" }}</small>
            </div>

            <a href="/services/add-service" class="button--primary">
                {{ svg "icon-plus" "icon--inline" }}
                {{ i18n "Add service" }}
            </a>
        </div>

        <table>
            <thead>
                <tr>
                    <th>{{ i18n "Name" }}</th>
                    <th class="text-right column-is-published">
                        {{ i18n "Visible in the Directory" }}
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{ range .Services }}
                    <tr
                        class="tr--link"
                        hx-get="/services/{{ .Name }}"
                        hx-push-url="true"
                        hx-swap="innerHTML"
                        hx-target="body"
                    >
                        <td>{{ .Name }}</td>
                        <td class="text-right">
                            {{ if .IsPublished }}
                                {{ svg "icon-eye-line" "icon" }}
                            {{ else }}
                                {{ svg "icon-eye-off-line" "icon" }}
                            {{ end }}
                        </td>
                        <td class="td--link">
                            <a href="/services/{{ .Name }}">
                                {{ svg "icon-chevron-right" "icon" }}
                            </a>
                        </td>
                    </tr>
                {{ end }}
            </tbody>
        </table>
    </div>
{{ end }}
