<!--
 Copyright © VNG Realisatie 2024
 Licensed under the EUPL
-->

{{ define "authenticated-page-header" }}
    <p>
        <a href="/services" class="button--link">
            {{ svg "icon-chevron-left" "icon--inline" }}
            {{ i18n "Back" }}
        </a>
    </p>

    <h1 class="service-detail-page__title">{{ .Service.Name }}</h1>
{{ end }}

{{ define "content" }}
    <p class="alert alert--error">
        <span class="alert__content"
            >{{ i18n "This Service does not seem to exist." }}</span
        >
    </p>
{{ end }}
