/**
 * Copyright © VNG Realisatie 2024
 * Licensed under the EUPL
 */

@use "../theme";

.contract-distribution-detail-page {
    &__title {
        margin-bottom: theme.$spacing09;
    }

    &__section-header {
        margin-bottom: theme.$spacing02;
        color: theme.$colorPaletteGray400;
        padding-left: 0;
    }

    &__section-content {
        margin-left: theme.$spacing07;
        margin-bottom: theme.$spacing05;
    }

    &__action:not(:last-child) {
        border-bottom: 1px solid theme.$colorPaletteGray700;
        padding-bottom: 2rem;
    }
}
