/**
 * Copyright © VNG Realisatie 2024
 * Licensed under the EUPL
 */

@use "../theme";

.directory-service-detail-page {
    &__title {
        margin-bottom: theme.$spacing09;
    }

    &__section-header {
        margin-bottom: theme.$spacing02;
        color: theme.$colorPaletteGray400;
        padding-left: 0;
    }

    &__section-content {
        margin-left: theme.$spacing07;
        margin-bottom: theme.$spacing05;
    }

    .collapsible-container {
        max-width: 40rem;
        margin-top: 2rem;
    }

    &__contract {
        display: flex;
        justify-content: space-between;
    }

    &_contract-status {

    }

    &__contract-details {
        flex: 1;
    }
}
